{% extends 'base.htm' %}
{% load static %}
{% block title %}Poll{% endblock title %}

{% block content %}
<div class="welcome">
  <h1>Food</h1>
</div>

<div class="poll-page">
  {% for food in foods %}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{food.item_img}}" alt="{{food.item_name}} img">
    <div class="card-body">
      <p>{{food.item_name}}</p>
      <button class="btn btn-light">Pass</button>
      <button class="btn btn-light vote-button" value="{{food.id}}">Pick</button>
    </div>
  </div>
  {% endfor %}
  
</div>

<div class="submit-container">
  <a href="{% url 'results' %}">
    <button class="btn btn-info" id="submit-votes">Submit</button>
  </a>
</div>

{% endblock content %}