{% extends 'base.htm' %}

{% block title %}Poll{% endblock title %}

{% block content %}
<div class="welcome">
  <h1>Food</h1>
</div>

<div class="poll-page">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body">
      <p></p>
      <button>Select</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body">
      <p></p>
      <button>Select</button>
    </div>
  </div>

</div>

{% endblock content %}