{% extends 'base.htm' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

<div class="welcome">
  <h1>Choose a Category | Cast Your Votes | Get a Prize</h1>
</div>

<div class="polls-main">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'media/food-poll-img.jpg'%}" alt="food-poll-img">
    <div class="card-body">
      <a href="{% url 'food-poll' %}">
        <button type="button" class="btn btn-primary">
          <p class="card-text">Food</p>
        </button>
      </a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'media/game-poll-img.jpg'%}" alt="game-poll-img">
    <div class="card-body">
      <a href="{% url 'games-poll' %}">
        <button type="button" class="btn btn-primary">
          <p class="card-text">Games</p>
        </button>
      </a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'media/movie-poll-img.jpg'%}" alt="movie-poll-img">
    <div class="card-body">
      <a href="{% url 'movies-poll' %}">
        <button type="button" class="btn btn-primary">
          <p class="card-text">Movies</p>
        </button>
      </a>
    </div>
  </div>
</div>

{% endblock content %}