{% extends 'base.htm' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="welcome">
  <h1>This Is Home</h1>
</div>

<div class="polls-main">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://image.shutterstock.com/image-vector/dishes-icon-set-600w-146492768.jpg" alt="food-poll-img">
    <div class="card-body">
      <p class="card-text">Food</p>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://image.shutterstock.com/image-vector/vector-illustration-neon-future-game-600w-1861318969.jpg" alt="game-poll-img">
    <div class="card-body">
      <p class="card-text">Games</p>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://image.shutterstock.com/image-illustration/online-cinema-art-movie-watching-600w-1799102092.jpg" alt="movie-poll-img">
    <div class="card-body">
      <p class="card-text">Movies</p>
    </div>
  </div>
  
</div>

{% endblock content %}